<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link href="~/Content/css/app.css" rel="stylesheet" />
    @{
        String theme = "/bower_components/bootstrap/dist/css/bootstrap.min.css";

        if (Request.Cookies.AllKeys.Contains("theme"))
        {
            theme = Request.Cookies["theme"].Value;
        }
    }
    <link href="@theme" rel="stylesheet" />
</head>
<body ng-controller="RootController">
    <top-bar></top-bar>
    <div class="container">
        <div ng-view></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Store</p>
        </footer>
    </div>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
