<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link href="~/Content/css/app.css" rel="stylesheet" />
</head>
<body ng-controller="RootController">
    <nav class="navbar navbar-inverse navbar-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#/customers/">Customers</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#/products/">Products</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#/orders/">Orders</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a ng-href="#/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!user.loggedIn">
                        <a ng-href="#/register/">
                            <span class="glyphicon glyphicon-user"></span> Sign Up
                        </a>
                    </li>
                    <li ng-if="!user.loggedIn">
                        <a ng-href="#/login/">
                            <span class="glyphicon glyphicon-log-in"></span> Log In
                        </a>
                    </li>
                    <li ng-if="user.loggedIn">
                        <a>
                            <span class="glyphicon glyphicon-user"></span> Hello {{user.login}}!
                        </a>
                    </li>
                    <li ng-if="user.loggedIn">
                        <a ng-click="user.logOut()"><span class="glyphicon glyphicon-log-out"></span> Log Off</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-view></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Store</p>
        </footer>
    </div>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
