<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="AssignmentDbConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Assignment.Web-20160623010115.mdf;Initial Catalog=aspnet-Assignment.Web-20160623010115;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="AssignmentDbConnection1" connectionString="Data Source=DSIRENKO;Initial Catalog=Store;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>
